<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />

  <title>my.Blog</title>
</head>

<body>
  <a href="/" class="main-title">
    <img src="/images/blog.png" alt="my.Blog">
    my.Blog
  </a>

  <div class="login-area">
    {% if user %}
      {{user.first_name}} {{user.last_name}} ({{user.username}}) (<a class="login-link" href="/logout">Logout</a>)
    {% else %}
      <a class="login-link" href="/login">Login</a>
      |
      <a class="login-link" href="/signup">Sign Up</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

