{% extends "base.html" %}

{% block content %}
    <h4>Login</h4>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <br>
      <input class = "button" type="submit">

      <br><br>
      <div>
        New user? Please click <b><a href="/signup">here</a></b> to sign up.
      </div>

    </form>
{% endblock %}
