{% extends "base.html" %}

{% block content %}
  <h4>New Post</h4>

    <form method="post">
      <label>
        <div>Subject</div>
        <input class="subject-text" size="40" type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Content</div>
        <textarea class="content-text" name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <br>
      <input class="button" type="submit">
    </form>
{% endblock %}
