{% extends "base.html" %}

{% block content %}
  {% if is_new %}
  <h4>New Comment</h4>
  {% else %}
  <h4>Edit Comment</h4>
  {% endif %}

    <form method="post">

      <label>
        <textarea class="comment-text" name="comment">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <br>
      {% if is_new %}
      <input class="button" type="submit">
      {% else %}
      <input class="button" type="submit" value="Update">
      {% endif %}
    </form>
{% endblock %}
