<div class="blog">
  <div class="blog-heading">
    <div class="blog-title">
      <a href="/{{b.key().id()}}">{{b.subject}}</a>
    </div>

    <div class="blog-date">
      {{b.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <br>

  <div class="blog-content">
    {{b._render_text | safe}}
  </div>

  <br>
  <div class="blog-like">
    {{b.likes}} <a href="/like/{{b.key().id()}}"> <img alt="Like" src="/images/like.png"></a>
  </div>

  <div class="blog-comment">
    <a href="/comment/{{b.key().id()}}"> <img alt="Comment" src="/images/comment.png"></a>
  </div>
</div>
