<div class="blog">


  <div class="blog-heading">

    <div class="blog-operations">
      {% if user.username == b.username %}
        <a href="/editblog/{{b.key().id()}}"> <img alt="Edit" src="/images/edit.png"></a>
        <a href="/deleteblog/{{b.key().id()}}"> <img alt="Delete" src="/images/delete.png"></a>
      {% endif %}
    </div>
  
    <div class="blog-title">
      <a href="/{{b.key().id()}}">{{b.subject}}</a>



      <div class="blog-username">
      {{b.username}}
      </div>

    </div>




    <div class="blog-date">
      {{b.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <br>

  <div class="blog-content">
    {{b._render_text | safe}}
  </div>

  <br>
  <div class="blog-like">
    {{numb_likes}} <a href="/like/{{b.key().id()}}"> <img alt="Like" src="/images/like.png"></a>
  </div>

  <div class="blog-comment">
    <a href="/comment/{{b.key().id()}}"> <img alt="Comment" src="/images/comment.png"></a>
  </div>




</div>
